logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
.eslintcache

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
app/public/uploads/
test/**/*.map
config/**/*.map
.package-lock.json
.egg/

# 环境变量和 Token 文件
.env
.env.local
.env.website-token